
<footer>
  <hr>
  <p>VRPN is open-source software, maintained and supported by <a href="http://sensics.com/osvr-2/vrpn/">Sensics</a>, and developed in collaboration with a <a href="https://github.com/vrpn/vrpn/wiki/Authors">productive community of contributors</a>.</p>
</footer>
